<nav id="context_menu" class="context-menu display-none" style="left: 242px; top: 275px;">
    <ul id="context_menu__items" class="context-menu__items"></ul>
</nav>
<style>
    .context-menu {display: block;position: absolute;z-index: 10;padding: 12px 0;background-color:var(--lighter-color); border: solid 1px var(--main-bg-color);box-shadow: 1px 1px 2px var(--light-color);}
    .context-menu__item {display: block;margin-bottom: 4px;}
    .context-menu__item:last-child {margin-bottom: 0;}
    .context-menu__link {display: block;padding: 4px 12px;cursor: pointer}
    .context-menu__link i{margin-right: .4em}
    .context-menu__link:hover {background-color: var(--alpha-dim-color);}
</style>
<script>
    function oncontextmenu(e, ctrl_class, items) {
        if (click_inside_element(e, ctrl_class)) {
            context_menu__items.innerHTML = null;   // clear current context menu
            build_context_menu(items);

            e.preventDefault();
            context_menu.classList.remove('display-none');
            position_ctrl_lite(e, context_menu);
        } else {
            context_menu.classList.add('display-none');
        }
    }
    function click_inside_element(e, className) {
        var el = e.srcElement || e.target;

        if (el.classList.contains(className)) {
            return el;
        } else {
            while (el = el.parentNode) {
                if (el.classList && el.classList.contains(className)) {
                    return el;
                }
            }
        }

        return false;
    }

    function get_position(e) {
        let posx = 0;
        let posy = 0;

        if (!e)
            var e = window.event;

        if (e.pageX || e.pageY) {
            posx = e.pageX;
            posy = e.pageY;
        } else if (e.clientX || e.clientY) {
            posx = e.clientX + document.body.scrollLeft +
                    document.documentElement.scrollLeft;
            posy = e.clientY + document.body.scrollTop +
                    document.documentElement.scrollTop;
        }

        return {
            x: posx,
            y: posy
        }
    }

    function position_ctrl(e, ctrl) {
        let ctrl_position = get_position(e);

        let menuWidth = ctrl.offsetWidth + 4;
        let menuHeight = ctrl.offsetHeight + 4;


        if ((window.innerWidth - ctrl_position.x) < menuWidth) {
            ctrl.style.left = window.innerWidth - menuWidth + "px";
        } else {
            ctrl.style.left = ctrl_position.x + "px";
        }

        if ((window.innerHeight - ctrl_position.y) < menuHeight) {
            ctrl.style.top = window.innerHeight - menuHeight + "px";
        } else {
            ctrl.style.top = ctrl_position.y + "px";
        }
    }
    function position_ctrl_lite(e, ctrl) {
        let ctrl_position = get_position(e);
        ctrl.style.left = ctrl_position.x + "px";
        ctrl.style.top = ctrl_position.y + "px";
    }

    function build_context_menu(item) {
        for (let i = 0; i < item.length; i++) {

            let icon = document.createElement('i');
            icon.classList = item[i]['icon'];

            let a = document.createElement('a');
            a.classList = 'context-menu__link';
            a.setAttribute('data-action', [i]['action']);
            a.setAttribute('data-id', [i]['id']);
            a.onclick = item[i]['click'];
            a.appendChild(icon);
            a.appendChild(document.createTextNode(item[i]['text']));

            let li = document.createElement('li');
            li.classList = 'context-menu__item';
            li.appendChild(a);

            context_menu__items.appendChild(li);
        }
    }
</script>