<div id="glass_modal" class="modal display-none">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="modal_img_title"></h2>
    </div>
    <div class="modal-body">
      <img id="modal_img_screen"/>
      <div>
        <span id="modal_text"></span>
      </div>
    </div>
    <div class="modal-footer clearfix">
      <h3 id="modal_img_desc"></h3>
    </div>
  </div>
</div>
<style>
.modal {position: fixed;z-index: 10;padding-top: 1%;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0,0,0,0.6);}
/* Modal Content */
.modal-content {position: relative;margin: auto;padding: 0;border: 1px solid #888;width: 80%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: portal;-webkit-animation-duration: 0.7s;animation-name: portal;animation-duration: 0.7s}
/* Add Animation */
@-webkit-keyframes animatetop {from {top:-300px; opacity:0}   to {top:0; opacity:1}}
@keyframes animatetop { from {top:-300px; opacity:0} to {top:0; opacity:1}}

@-webkit-keyframes portal {from {width: 100%;opacity:0}   to {width: 80%;opacity:1}}
@keyframes portal { from {width: 100%;opacity:0} to {width: 80%;opacity:1}}
/* The Close Button */
span.close {color: #000;float: right;font-size: 28px;font-weight: bold;}
span.close:hover,.close:focus {border-color: #fff;text-decoration: none;cursor: pointer;}
span.quit{font-size:12pt;font-family:sans-serif;border: 1px solid #000;padding: 5px;border-radius:5px;font-weight:100}
div.modal-header,div.modal-footer {padding: 2px 5px;color: var(--main-bg-color);}
div.modal-body {padding: 2px 16px;overflow-y:auto}
#modal_text{white-space: pre-line;color: var(--yin)}
#modal_text a{color: var(--yin)}

@media screen and (min-width: 768px){
    /*.modal-content {width: 80%;}*/
}
</style>
<script>
function preview_img(img)
{
    glass_modal.classList.remove('display-none');
    modal_img_title.innerHTML = img.title;
    modal_img_screen.src = img.src;
    modal_img_desc.innerHTML = img.alt;
}
function give_report(title,text,footnote)
{
    glass_modal.classList.remove('display-none');
    modal_img_title.innerHTML = title;
    modal_text.innerHTML = text;
    modal_img_desc.innerHTML = footnote;
    modal_img_screen.style.display = "none";
}
</script>
