<noscript>
<div id="no_script">
    <h1 >Browser is not JavaScript enabled!&nbsp;&nbsp;&nbsp;</h1>
    <p>You're seeing this message because this section contains JavaScript content, and can only be displayed once enabled.</p>
    <p>JavaScript is one of the fundamental aspects of the system, and is required before anything.<br/><br/>
        This feature can be enabled from the browser settings, provided your web browser supports client-side scripting</p>
</div>
</noscript>
<style type="text/css">
	#no_script{background-color: #b1b1b1;color: #444;max-width: 640px;margin: .6em auto;padding: 1em 0 4px}
	#no_script:hover{box-shadow: 0px 0px 17px 1px #737373}
	#no_script:hover p{color: #edc;background-color: #737373;box-shadow: 0px 0px 9px 1px #737373;padding: 4px}
	#no_script h1{font-family: calibri, sans-serif;font-size: 14pt;background-color: #444;color: #d5d5d5;text-align: center}
	#no_script p{margin: 1em}
</style>