.big,.big-block,.big-cell,.big-480,.big-1024,.big-1280,.cell-768{display: none;}
.table-cell.x1024,.table-cell.x768{display: none}

.page-wrap {min-height: 100%;overflow-y: auto;}
.page-wrap .m-osd > i{position: absolute;bottom: 64px;right: 16px;font-size: 64px;background-color: var(--dark-color);border-radius: 50%;padding: 0 .3em;color: var(--main-bg-color);cursor: pointer;opacity: .6;border: 3px solid var(--light-color)}
.page-wrap .m-osd > i:hover{color: var(--lighter-color);opacity: .9}
.page-wrap .m-osd > i.active{opacity: 1;background-color: transparent;color: var(--main-fg-color)}
.page-wrap .m-osd > i.active:hover{color:var(--light-color) }
table.osd{border-collapse: collapse;width: 100%;text-align: center;color: var(--yin);margin: 5px 0}
table.osd .gap{padding: 0 .1em}
table.osd i{font-size: 24px;font-weight: 700;color: var(--yin);padding: .1em}
table.osd i:hover{background-color: var(--darker-color)}
table.osd td.ctrl{border: 1px solid var(--darker-color);padding: 0}
table.osd td.ctrl button{background-color: transparent;border: none;cursor: pointer;}
table.osd td.ctrl.l{border-right: none}
table.osd td.ctrl.r{border-left: none}
table.osd td.index{border-top: 1px solid var(--darker-color)}
table.osd tr.values{background-color: var(--dark-color)}
.page-wrap .m-osd{bottom: 0;width: 100%;position: absolute;z-index: 1;background-color: #4449}
.shadow {box-shadow: 0 2px 14px 0 var(--main-fg-color);}
.base-dotted-dark{border-bottom: 1px dotted var(--dark-color)}
.cap {float: left;width: 0.7em;font-size: 400%;line-height: 75%;position: relative;top: 2px}
.clearfix:after{content: "";display: table; clear:both}
.container {margin: auto;overflow: hidden;}
.dim{opacity: .4}
.err-txt{color: #a41!important}
.c2r{background-color: transparent!important}
/*<editor-fold desc="breadcrumb" defaultstate="collapsed">*/
/* style the list */
ul.breadcrumb{padding: 10px 16px;list-style: none;background-color: var(--main-bg-color)}
/* display list items side-by-side */
ul.breadcrumb li{display: inline;font-size: 16px}
/* add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before{padding: 8px;color: var(--main-fg-color);content: '\203a';font-weight: 700;font-size: 21px}
/* add color to all links inside item list*/
ul.breadcrumb li a{color: var(--main-fg-color);text-decoration: none}
/* add color on mouse-over*/
ul.breadcrumb li a:hover{color: var(--dark-color);text-decoration: underline;}
/*</editor-fold>*/
/*<editor-fold desc="collapsible" defaultstate="collapsed">*/
.collapsible {background-color: var(--light-color);color: var(--dark-color);cursor: pointer;padding: 18px;width: 100%;border: none;text-align: left;outline: none;font-size: 15px;}
.collapsible.active, .collapsible:hover {background-color: var(--main-bg-color);}
.collapsible:after {content: '\002B';color: var(--yin);font-weight: bold;float: right;margin-left: 5px;}
.collapsible.active:after {content: "\2212";}
.fold {max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;background-color: #f1f1f1;}
/*</editor-fold>*/
.bounce-x{animation: bounce-x 1s ease infinite;position: relative;}
@keyframes bounce-x{ from {right:-5px} 50% {right:5px} to {right:-5px}}
.bounce-y{animation: bounce-y 1s ease infinite;position: relative;}
@keyframes bounce-y{ from {bottom:-5px} 50% {bottom:5px} to {bottom:-5px}}

.button_1 {height: 37px;background: var(--darker-color);border: 0;padding: 0 20px;color: var(--yin);cursor: pointer;}
.button_1:hover{background-color: var(--dark-color)}
.button_1[disabled],.button_1[disabled]:hover{background-color:  #888;opacity: .7;cursor: default;}
.btn-shield{position: absolute;height: 100%;z-index: 1;top: 0;opacity: .8;background-color: var(--lighter-color)}

.button_1.done{background-color: var(--special-color);color: var(--yin);font-weight: 700;border: 1px solid var(--special-color)}
.button_1.done:hover{background-color: var(--yin);color: var(--special-color)}

.button_1.next{background-color: var(--xciii-color);color: var(--yin);font-weight: 700;border: 1px solid var(--xciii-color)}
.button_1.next:hover{background-color: var(--yin);color: var(--xciii-color)}

noscript.lite p {text-align: center;margin: 1em 0;font-size: 24px}
.feature{background-color: var(--super-lite-color);box-shadow:  0 2px 14px 0  var(--main-fg-color);margin: 0 auto;max-width: 856px;padding: 10px;width: 90%;}

ul.streight-nav {display: table;width: 100%;}
ul.streight-nav > li {display: table-cell;}

.grouping{display: inline-block;position: relative;width: 100%}

.cursor-pointer{cursor: pointer;}
.cursor-default{cursor: default!important;}

.float-left {float: left;}
.float-right {float: right;}
.left{left: 0;position: absolute}
.right{right: 0;position: absolute}
.align-left{text-align: left!important;}
.align-center{text-align: center!important;}
.align-right{text-align: right!important;}
/**
* display-property
*/
.display-none,.js {display: none!important;}
.display-block {display: block;}
.inline-block {display: inline-block;}
/*table*/
.table{display: table;}
.table-row{display: table-row;}
.table-cell {display: table-cell;}
/*flex*/
.display-flex{display: flex}
.flex-row {display: flex;flex-direction: row;}
.flex-column {display: flex;flex-direction: column;}

/*size*/
.height-200px{height: 200px;overflow-y: auto}

/*position*/
.position-relative{position: relative}

.button_1{width:100%;float: none}

.menu-key {display: inline-block;cursor: pointer;margin: 8px;}
.menu-key .bar {width: 70px;height: 10px;background-color: var(--dark-color);margin: 6px 0;transition: 1s;}
/*input-form*/
.input-form .success-tick, #query_pane  .success-tick{font-size: 32pt;color: var(--yin);position: absolute;background-color: transparent;top: -50%;right: 20%;text-shadow:0 3px 3px #0c0}

form .vss i{font-size: 28px}
.vss{cursor: default!important}
.input-form {border:4px solid var(--yin);background-color: var(--super-lite-color);max-width: 480px;border-radius: 2px;padding: 20px 0 10px;min-width: 280px}
ul.form-input li,ul.form-input li.exception:last-child  {display: block;padding: 9px;border: 1px solid var(--main-bg-color);margin-bottom: .7em;border-radius: 0;}
ul.form-input li.list{max-height: 180px;overflow-y: auto;}
ul.form-input li.functionality input{text-indent: 8pt;border: 1px solid var(--main-bg-color)!important;}
ul.form-input li.functionality input,ul.form-input li.functionality select{height: 37px}
ul.form-input li.functionality .ctrl{text-align: center;}
ul.form-input li:last-child {border-style: none;margin-bottom: 0;text-align: center;;position: relative;padding: 0;}
ul.form-input li:last-child .message {display: inline-block;margin-right: 5%;background-color: transparent;color: #a00;}
.input-form hr {height: 3px;background-color: var(--main-bg-color);border: none;}
.input-form button {background-color: var(--main-bg-color);color: var(--yang);border-radius: 2px;outline: none;margin-bottom: .2em}
.input-form button:hover{background-color: #0001}
.input-form button[disabled],.input-form button[disabled]:hover{background-color:  var(--main-bg-color);opacity: .7;cursor: default;}
/*.input-form button:active{background-color: #fff}*/
ul.form-input li > label.prompt,ul.form-input li > label.required{display: block;margin-top: -19px;background-color: var(--super-lite-color);height: 14px;padding: 2px 5px;overflow: hidden;}
ul.form-input li > label.prompt {color: var(--main-fg-color);font-size: 14px;}
ul.form-input li > label.required {color: #f00;font-size: 24px;}
.input-form input, .input-form textarea {background-color: inherit;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;border: none;padding: 0;}
.input-form input.err, .input-form textarea.err{background-color: transparent!important;border-width: 0!important}
.input-form input[type="text"], .input-form input[type="password"], .input-form input[type="email"], .input-form input[type="file"] {height: 25px;width: 100%;display: block;line-height: 25px;}
.input-form label.radio input[type="radio"] {margin: 0 .6em;margin-bottom: -.8em;}
ul.form-input li > input {color: var(--yang);}
ul.form-input li > input[type='button']{padding: .2em .6em;    background-color: var(--yin);border: 1px solid var(--main-bg-color);border-radius: 4px;color: var(--dark-color);margin-top: .1em;cursor: pointer;}
ul.form-input li > input[type='button']:hover{border-color: var(--light-color)}
ul.form-input li > input[type='button']:active{color: var(--yin)}
.input-form textarea {width: 100%;white-space: pre-line}
.input-form select {width: 100%}
.input-form label.radio {margin-right: .9em;}
ul.form-input li > span {background-color: #e9e9e9;display: block;padding: 3px;margin: 0 -9px -9px -9px;text-align: center;font-size: 11px;color: var(--dark-color);}
ul.form-input li > span.err{color: #000;font-weight: 700}
.input-form div.group {margin-bottom: 25px;padding-top: 20px;border-top: 2px dashed var(--main-bg-color);position: relative;}
.input-form div.group a{text-decoration: underline;color: var(--yang)}
.input-form span.label {position: absolute;font-size: 14px;margin: -38px -15px -25px;}
.input-form span.label{z-index: 1;padding: 5px 10px;background-color: var(--light-color);color: var(--yin);border-radius: 50%;border: 4px solid var(--super-lite-color);box-shadow: -3px 0 1px 0 var(--main-fg-color);font-weight: 700;}
.input-form span.label-info{display: block;margin-top: -32px;background-color: var(--super-lite-color);height: 14px;padding: 2px 5px;overflow: hidden;color: var(--main-fg-color);font-style: italic;margin-right: .1em;opacity: .7}
.input-form span.button{cursor: pointer;}
.input-form span.button:hover{background-color: var(--main-fg-color);color: var(--lighter-color)}

ul.form-input li table.dull{width: 100%}
ul.form-input li table.dull td{padding: 8px}
.ls{padding: 9px;border: 1px solid var(--main-bg-color)}

.std input[type="email"], .std input[type="password"], .std input[type="text"] {width: 90%; padding: 5px 10px;height: 25px;background-color: var(--main-bg-color);color: var(--yang);border: 1px solid var(--light-color);}

input.err,textarea.err,select.err{color: #a41!important}
input.err,textarea.err{;border-left:1px solid #f00!important;border-right:1px solid #f00!important;background-color: #fff!important}
*:required, *:invalid {box-shadow: none;}

.err-report{color: #a41!important;padding: 0 .6em}

.ls-wrap{overflow-y: auto;max-height: 320px;min-width: 266px;border: 1px solid var(--main-bg-color)}
.ls-wrap table{width: 100%}

ul.notice {list-style: square;padding: 0 .6em;margin: 0 .3em}
ul.notice li,  p.notice {line-height: 1.6em;color: var(--main-fg-color);}
table.fancy,table.dull,table.brief {border-collapse: collapse;}
table.fancy td,table.brief td,table.dull td.ls-empty,table.dull.normal td{ padding: 8px;cursor: default}

table.fancy tr:nth-child(2n+1) {background-color: #e9e9e9;}
table.fancy tr:nth-child(2n) {background-color: #f6f6f6;}
table.fancy tr:hover {background-color: var(--yin);}
table.fancy th {padding-top: 4px;padding-bottom: 4px;text-align: left;background-color: var(--yin);color: rgba(0,0,0,.4);border-top: 1px dotted var(--ying);font-weight: 100;}

table.fancy td { border: 1px solid #ddd;}
table.fancy td.button {padding: 0;text-align: center;}
table.fancy .control, table.fancy .note {background-color: var(--yin);border: none;padding: 0;text-align: center;}
table.fancy .note{color: #a74;font-size: 11px}

table.dull tr:hover{font-weight: 700}
table.dull tr:hover td.ls-empty{font-weight: 100}
table.dull tr:hover .control{background-color: var(--lighter-color)}
table.dull td{background-color: var(--alpha-dim-color);border: 1px solid var(--light-color);border-right: none;padding: 8px 0}

table.dull td > span,table.dull.special td{padding:8px}

table.dull td.note{color: #a74;font-style: italic}
table.dull td.positive{color: var(--special-color);font-style: normal}
table.dull td:last-child{border-right: 1px solid var(--light-color)}
table.dull .extra{border-left: none;color: var(--main-fg-color)}
table.dull td:last-child{border-right-color: var(--light-color)}
table.dull .control{border-color: transparent; padding: 8px;}

td.ls-empty{cursor: default!important}
table tr:hover .ls-empty{background-color: var(--lighter-color)}
table .control i{font-size: 22px}
table .control i.fa-remove:hover{color: #f00;cursor: pointer;}
table .control i.fa-remove {width: 100%}

table.brief{ border: 1px solid var(--main-fg-color); border-top: 0}
table.brief tr:nth-child(2n){cursor: pointer}
table.brief tr.info td,table.brief td.sub{padding: 0 8px}
table.brief tr.info td em{color: var(--main-fg-color)}
table.brief td.sub{background-color: var(--light-color)!important;border-left: 1px solid var(--main-fg-color);color: var(--dark-color);font-style:italic;text-align: right}
table.brief tr.info td:nth-child(2),table.brief td.sub{font-weight: 100;font-size: initial;cursor: default}
table.brief td.subject{cursor: pointer;border-top: 1px solid  var(--main-fg-color);padding-bottom: 0}
table.brief td.subject:hover{ border-color: var(--dark-color);font-weight: 700}
table.brief td:nth-child(1){background-color: var(--main-bg-color);}
table.brief td:nth-child(2){background-color: var(--light-color);font-weight: 700;text-align: center;font-size: 24px;color: var(--yin); border: 1px solid var(--main-fg-color);border-width: 1px 0 0 1px;cursor: pointer}
/*<editor-fold desc="Special Effects" defaultstate="collapsed">*/
@-webkit-keyframes fadeinout {0%{background-color:  var(--darker-color); color: transparent;}}
@keyframes fadeinout {0%{background-color:  var(--darker-color); color: transparent;}}
.flash{-webkit-animation:fadeinout 6s linear backwards}
/*</editor-fold>*/

/*<editor-fold desc="poptext" defaultstate="collapsed">*/
.popup,.popdown{position: relative}
/* The actual poptext (appears on top) */
.popup .popuptext,.popdown .text{visibility: hidden;width: 160px;background-color: #5557;color: #fff;text-align: center;border-radius: 6px;padding: 8px 0;position: absolute;z-index: 1;bottom: 0;left: 75%;margin-left: -80px;border: 1px solid #500}
/* poptext arrow */
.popup .error,.popdown .error{;background-color: #5007;}
.popup .popuptext::after,.popdown .text::after {content: "";position: absolute;top: 40%;left: -4%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: transparent #555 transparent transparent;}
.popup .error::after,.popdown .error::after{border-color: transparent #500 transparent transparent;}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show, .popdown .show {visibility: visible;-webkit-animation: fadeIn 1s;animation: fadeIn 1s}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeIn {from {opacity: 0;} to {opacity:1 ;}}
/*</editor-fold>*/
/*<editor-fold desc="modal" defaultstate="collapsed">*/
aside.banner{padding: 0 .6em .6em;width: 94%}

/*</editor-fold>*/
.container > article {width: 90%;margin: 0 auto}

section.error-page {padding: 1em 0 2em 0;display: flex;}
section.error-page > div {margin: 0 auto;border: 0 dotted var(--dark-color);padding: .6em;position: relative;}
section.error-page > div > p {margin-bottom: .6em;color: #922;}
section.error-page > div {margin: 0 auto;text-align: left}
section.error-page > div > table tr td:nth-child(2n) {background-color: #efefef;}


@media screen and (min-width: 480px){

}
@media screen and (min-width: 768px){
	.big{display: inherit;}
        .cell-768,.table-cell.x768{display: table-cell}
	.big-block{display: block;}
	.big-cell{display: table-cell;}
	.container{width: 80%!important}
	.small{display: none!important;}
	.button_1{width: initial;}
	.input-form{padding: 20px 10px 10px}
	.input-form span.label{margin: -38px auto auto -25px}
	ul.form-input li:last-child{text-align: right;}
	ul.form-input li.functionality input,ul.form-input li.functionality select{width: initial;display: inline-block;}
	ul.form-input li.functionality .ctrl{float: right}
	ul.form-input li.functionality .ctrl .vss{padding: 0 10px}
	.std input[type="email"], .std input[type="password"], .std input[type="text"] {width: initial!important;}
	.input-form .success-tick, #query_pane .success-tick{right: initial}
        #query_pane .success-tick{left: 1.4em}
	.popup .popuptext{bottom: 125%!important;left: 50%!important}
        .popdown .text{bottom: -75%!important;left: 50%!important}
	.popup .popuptext::after {top: 100%;left: 50%;border-color: #555 transparent transparent transparent;}
        .popdown .text::after {top: initial;bottom: 100%;left: 50%;border-color: transparent transparent #555 transparent;}
	.popup .error::after{border-color: #500 transparent transparent transparent;}
        .popdown .error::after{border-color: transparent transparent #500 transparent;}

	.container > article{width: 65%;float: left;margin: initial;}
	.container > aside{width: 30%;float: right;}

	.grouping{width: initial;}
	aside.banner{width: 43%}
	article.content{width:49%}
}
@media screen and (min-width: 1025px){
    .big-1024{display: inherit}
    .table-cell.x1024{display: table-cell}
}
@media screen and (min-width: 1280px){
    .small-1280{display: none}
    .big-1280{display: inherit}
}