/*display none*/
header.main nav ul,.dropdown-content{display: none;}
/*width 100%*/
header.main .dropdown .dropbtn{width: 100%}
/*float none*/
.dropdown-content a{float: none;}


header.main{background: var(--main-bg-color);color: var(--main-fg-color);height: 70px;border-bottom: var(--dark-color) 4px solid;position: relative;}
header.main div.keys {margin: 17.5px 0;height: 35px;}
header.main a {color: var(--dark-color);text-decoration: none;text-transform: uppercase;font-size: 16px;margin: 10px;text-shadow: 0 1px 1px rgba(20,20,20,.4);}
header.main  a:hover{color:var(--dark-color);font-weight:bold}
header.main nav,header.main div.container,header.main #branding,header.main #branding a,header.main #branding a img{height: 100%}
header.main nav:hover div.bar{background-color: var(--yin)}
header.main nav:hover ul{display:block}
header.main nav ul{z-index: 2;position: absolute;background-color: var(--light-color);right:20px;top:40px;border:1px solid var(--dark-color);width:50%}
header.main nav ul li {display: block;padding: 0 10px;}
header.main nav ul li a {display: block;/*width: 100%;*/}
header.main .current, header.main .current:hover, header.main ul li.current {color: var(--yang)!important;font-weight: 700;cursor: default!important;}
header.main div.dropdown div.dropdown-content a.current, header.main div.dropdown div.dropdown-content a.current:hover {color: var(--yin)!important;}
header.main .dropdown {background-color: var(--main-bg-color); overflow: hidden;margin:10px 0;padding: 0;transition: 1s;height: auto;}
header.main .dropdown:hover .dropdown-content { display: block; }
header.main .dropdown .dropbtn {font-size: 16px;border: none;outline: none;color: var(--dark-color);background-color: initial;padding:0 10px;margin: 0;text-transform: uppercase;line-height: 17px;cursor: default;text-shadow: 0 1px 1px rgba(20,20,20,.6);text-align: left;}
header.main	.dropdown .dropdown-content {min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}

header.main .dropdown .dropdown-content a {display: block;text-transform:  none;padding: 5px 10px;margin: 0}
header.main a.isolate {border-top: 1px dashed var(--main-fg-color);}
header.main .top-edge {border-top: 2px solid var(--dark-color);}

@media screen and (min-width: 480px){

}
@media screen and (min-width:768px) {
	header.main .dropdown {margin: 0}
	header.main .dropdown:hover .dropbtn {background-color: var(--light-color); }
	header.main .dropdown .dropbtn {padding: 10px}
	header.main .dropdown .dropdown-content {position: absolute;background-color: var(--light-color);}
        #branding a img{border: solid #fff4;border-width: 0 6px;background-color: #fff4}
        #home_page #branding a img{border: 0}
}
