.workspace aside.dml {background-color: var(--lighter-color);border-right: 2px solid var(--main-bg-color);padding: 5px 0;}
.workspace aside.dml hr {margin:.2em .6em;border: 2px solid var(--main-bg-color);}
.workspace aside.dml > i{margin-top: -5px;}
.workspace aside.dml > .shift{left: 32px}
.workspace aside.dml #_btnback{font-size: initial;background-color: var(--main-bg-color);border-radius: 50%;border: 4px solid var(--yin)}
.workspace aside.dml #_btnback:hover{background-color: var(--light-color)}
.workspace aside.dml #_btnback i{color:var(--main-fg-color)}
.workspace aside.dml > div{display: none;position: absolute;z-index: 1;margin: 32px 0 0 0;background-color: var(--yin);border: 1px dotted var(--main-bg-color);border-top: none}
.workspace aside.dml ul{padding: .2em 0}
.workspace aside.dml ul > li {position: relative;text-align: center;border-left: 3px solid transparent;padding: 0 5px;}
.workspace aside.dml ul > li.off{border-left-width: 0!important}
.workspace aside.dml ul > li:hover{border-left-color:var(--light-color)}
.workspace aside.dml ul > li.group-I:nth-child(1n):hover{border-left-color: #25f}
.workspace aside.dml ul > li.group-I:nth-child(2n):hover{border-left-color: #495}
.workspace aside.dml ul > li.group-I:nth-child(3n):hover{border-left-color: #b00}
.workspace aside.dml:hover > div{display: block;}
.workspace aside.dml:hover > i{color: var(--main-bg-color);background-color: var(--yin)}
.workspace .button_1{min-width: 72px}
.workspace .ct-perfect-fourth > svg{position: initial}
.workspace span.instance-count {background-color: var(--main-fg-color);color: var(--main-bg-color);padding: 0 .6em;margin: 0 .6em;font-weight: 700;}
.workspace #chart_info{font-size: 28px}

#btn_sl_mk:hover{color: #25f}
#btn_sl_mv:hover{color: #495}
#btn_sl_rm:hover,#vss_sl_rm{color: #b00}
#btn_sl_home:hover{background-color: var(--main-bg-color);color: var(--yin)}
.workspace aside#sideline .btn-shield {width: 54px;left: 3px;}
.workspace aside.dml ul button {width: 48px;height: 48px;cursor: pointer;border: 0;font-size: 28px;color: var(--dark-color);background-color: transparent}

.dash-wrap {position: relative;}
.dash-wrap .icon-wrap {position: relative;width: 55px}
.dash-wrap .icon-wrap i {margin-top: 3px;font-size: 24px;width: 20px;border-radius: 50%;background-color: var(--yin);color: var(--main-fg-color);padding: 5px 7px 2px 5px;border: 3px solid var(--main-fg-color);}
.dash-wrap .icon-wrap i:hover{background-color: var(--light-color);color: var(--yin)}
.dash-wrap > article {background-color: var(--lighter-color);width: 100%;}
.dash-wrap i.content-key{font-size: 32px;color: var(--main-fg-color);padding: 5px 17px;position: absolute;z-index: 1}
.m-dex{min-height: 64px;position: relative;background-color: var(--alpha-dim-color)}
.m-dex ul.breadcrumb{position: absolute;bottom: 0;background-color: transparent;padding: 2px 5px}

#panel_crop_space{max-width: none}
.dash-content {height: 100%;width: 100%}
.dash-content .main {width: 100%}
.dash-content .main > div.content {max-width: 360px}
.dash-content .menu-nav{box-sizing: border-box;padding: .6em}
.dash-content .menu-nav li {width: 20%;vertical-align: middle;text-align: center;border-top-left-radius: 4%;border-top-right-radius: 4%;display: table-row;}
.dash-content .menu-nav li:first-child,#nav_section_02{border-left: none!important}
.dash-content .menu-nav li:last-child{border-right: none!important}
.dash-content .menu-nav li.active {border: 1px solid var(--light-color)}
.dash-content .menu-nav li a {color: initial;width: 100%;display: block;padding: .6em 0;}
.dash-content .menu-nav li a:hover{background-color: var(--alpha-dim-color)}
.dash-content .menu-nav li.active a {cursor: default;font-weight: 700;color: var(--yang);font-size: 16px;}
.dash-content .menu-nav li.active a:hover{background-color: transparent}

.dash-content header.menu-nav li {border-bottom: 1px solid var(--light-color)}
.dash-content header.menu-nav li.active {border-bottom: 0}

.dash-content footer.menu-nav li {border-top: 1px solid var(--light-color);}
.dash-content footer.menu-nav li.active {border-top: 0;background-color: var(--super-lite-color)}
.dash-content footer.menu-nav li.active span{cursor: default;background-color: transparent;}
.dash-content footer.menu-nav span{font-size: 14px;text-transform: uppercase;padding: .3em 0;display: block;cursor: pointer;}
.dash-content footer.menu-nav span:hover{background-color:  var(--alpha-dim-color)}
.btn_nav_section .btn-shield {width: 100%;left:0;z-index: 2}

.panel_instance_section,#panel_quest_tex{background-color: var(--super-lite-color)}
.sidebar img.watermark {position: absolute;height: 80px;bottom: 5px;right: 5px;opacity: .4;width: initial!important}
.dash-content .quest-title{color: var(--main-bg-color);font-style: italic;padding: 0 .6em;font-size: 21px;margin-bottom: -.6em;font-weight: 700;}

.dash-content  .dash-content #panel_crop_space .croppie-container{width: initial;height: initial}

.dash-content #form_add_item {padding: .6em 0;background-color: #fffb;position: absolute;z-index: 2;width: 100%;}
.dash-content .text-pane{padding: .6em}
.dash-content .text-pane p#instance_err {color: #c41;margin: 1.6em 0;}
.dash-content .text-pane p {font-size: 16px;margin: .6em 0}
.dash-content #form_add_item li > input[type="text"] {background-color: var(--yin);color:var(--yang);border: 0;height: 28px;text-indent: .3em;width: 90%;margin: 0 5%;border: 1px solid var(--main-bg-color)}
.dash-content #form_add_item li > button {height: 28px;width: 90%;margin-right: 10%}
.dash-content #form_add_item li > button i{margin: 0 .6em}
.dash-content .main .sidebar img {width: 100%;/*margin: 0 .6em;*/}
.dash-content .main > .sidebar{position: relative;}
.dash-content .main form {max-width: 320px}
.dash-content #panel_img{margin: 0 auto;max-width: 280px}
.dash-content #panel_index1_sidebar {overflow-y: auto;max-height: 280px;position: relative;background-color: var(--super-lite-color);padding: 0 .6em}
#panel_quest_intro ul.notice{margin-bottom: 6em}
#item_icon_ctrl {position: absolute;top: 0;background-color: #fff6;width: 100%;z-index: 1;}
#item_icon_ctrl span {position: relative;width: 48px;height: 48px;}
#item_icon_ctrl span button {position: absolute;width: 100%;height: 100%;background-color: transparent;border: none;cursor: pointer;}
#item_icon_ctrl span i {font-size: 32px;color: #b00;}
#item_icon_ctrl span:hover{background-color: #0004}
#item_icon_ctrl span:hover i{color: #fff}

#bottom_nav_crumb{padding: 0 5px;display: inline-block}
#bottom_nav_crumb li{display: inline;}
#bottom_nav_crumb li+li:before{padding: 0 8px;content: '\203a';font-weight: 700;font-size: 18px}
#bottom_nav_crumb li a{color: var(--main-bg-color)}

.dash-content .big-1280{display: none}
.dash-content > .footer {height: 1px;background-color: var(--main-fg-color);}
.dash-content > .footer .sidebar {background-color: var(--main-bg-color);border-top: 1px solid var(--main-fg-color);padding: 2px 0;display: block;}
.dash-content > .footer .content {background: var(--main-fg-color);color: var(--yin);}
.dash-content > .footer div {display: block;}
.dash-content > .footer div .icon-wrap{display: inline-block;}
.dash-content > .footer li > div {margin-right: 1em;padding: 2px .5em;}
.dash-content > .footer span.value {background-color: var(--dark-color);color: var(--main-bg-color);padding: 0 .6em;font-weight: 700;}
.dash-content span.link_addx {color: var(--yin);text-decoration: none;padding: 0 .6em;cursor: pointer;}
.dash-content span.link_addx:hover{background-color: #fff2;}
.dash-content span.link_addx i {margin-right: .1em;}
.dash-content .list-panel {width: 320px;overflow: hidden;position: relative;overflow-y: auto;max-height: 480px;min-height: 266px}
.dash-content .list-panel ul > li {padding: .4em;position: relative;}
.dash-content .list-panel ul > li.instance-active,.dash-content .list-panel ul > li.instance-active:hover {background-color: var(--yin);cursor: default;}
.dash-content .list-panel ul > li.instance-active h1{cursor: default;}
.dash-content .list-panel ul > li:hover{background-color: var(--alpha-dim-color)}
.dash-content .list-body {justify-content: center;height: 48px;padding-left: .78rem;width: 100%;}
.dash-content .list-body h1 {font-size: 16px;margin-top: -5px;margin-bottom: 15px;line-height: 21px;font-weight: 400;cursor: pointer;}
.dash-content .list-title-text {max-width: 135px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.dash-content .list-desc-text {color: var(--main-fg-color);font-size: 13px;white-space: nowrap;position: absolute;bottom: 10px;right: 1em;}
.dash-content #instance_list {background-color: var(--alpha-dim-color);max-height: 320px;overflow-y: auto;}
.dash-content #instance_ls_shield {position: absolute;width: 100%;height: 100%;background-color: #4441;z-index: 1;}

.dash-content #panel_crop_space #crop_space {max-height: 390px;overflow: auto;max-width: 280px;padding:0 15px 5px;margin:0 10px auto;}
.dash-content #panel_crop_space .img-rotate {cursor: pointer;top: 40%;z-index: 2;}
.dash-content #panel_crop_space .img-rotate .fa {font-size: 48px;color: var(--yin);text-shadow: 0 3px 3px rgba(20,20,20,.4);}
.dash-content #panel_crop_space .bottom {bottom: 10px;}
.dash-content #panel_crop_space .top {top: 10px;}

.dash-content #panel_crop_space #btn_crop:hover{color: #0f6}
.dash-content #panel_crop_space button.close_crop:hover{color: #f80}
.dash-content #panel_crop_space #btn_detach_crop{right: 72px}
.dash-content #panel_crop_space #btn_detach_crop:hover{background-color: #fff}
.dash-content #panel_crop_space #btn_detach_crop:hover i.fa{color: #09f}
.dash-content #panel_crop_space .controls button {position: absolute;right: 20px;background-color: var(--dark-color);color: var(--yin);border: 2px solid var(--yin);cursor: pointer;padding: 2px 9px;z-index: 2;}
.dash-content #panel_crop_space button i {font-size: 28px}

.dash-content table.fancy td{min-width: 36px}
.dash-content table.dull tr.fig-active td,.dash-content table.dull tr.fig-active:hover td, .dash-content table.dull tr.quest-active td,.dash-content table.dull tr.quest-active:hover td{background-color: var(--yin);cursor: default!important}
.dash-content #tbl_ls_x2 td:first-child{cursor: pointer}
.dash-content #tbl_ls_x1{margin-right: .9em}
.dash-content .input-form{display: block;width: inherit;margin: 0 auto}

.dash-content  #ls_quest_vss{font-size: 96px;margin: .6em auto;color: var(--special-color)}

#m_btn_back_to_ls a{top: 18px}
#m_nav_key{cursor: pointer;}
#m_nav_key:hover{color: var(--yin)}

.workspace .main footer.menu-nav {min-width: 320px;padding: 0;}
.content .btn_nav_section {position: relative;}
footer.menu-nav li.active, footer.menu-nav li.active:hover {border-top: 0}


table.quest, table.quest table.dull{border-collapse: collapse;width: 100%}
table.quest > tr:first-child td,table.quest > tbody > tr:first-child td{border: 0;font-style: italic;color: var(--main-fg-color);background-color: var(--alpha-dim-color)}
table.quest > tr:nth-child(2) td, table.quest > tbody > tr:nth-child(2) td{border: none;text-align: center;background-color: var(--alpha-dim-color)}
table.quest > tr:nth-child(2) td img, table.quest tbody > tr:nth-child(2) td img{max-height: 192px;width: auto!important}
table.quest > tr:nth-child(3) td,table.quest > tbody > tr:nth-child(3) td{border: 0;border-bottom: 4px solid var(--special-color);color: var(--yin);background-color: var(--dark-color)}
table.quest td:first-child{border-left: 4px solid var(--special-color)}
table.quest td:last-child{border-right: 4px solid var(--special-color)}
table.quest td{padding: 2px 4px}
table.quest td.symbol{background-color: var(--light-color);color: var(--yin);font-weight: 700;text-align: center}
table.quest > tr:last-child td.answer, table.quest > tbody > tr:last-child td.answer {border-bottom: none}
table.quest td.answer{border-bottom: 1px dashed var(--light-color);background-color: var(--super-lite-color)}
table.quest td.answer:hover{background-color: var(--yin)}
table.quest td.answer input,table.quest td.answer select{width: 100%;}
table.quest td.answer input[type]{border: none;background-color: transparent}

@media screen and (min-width: 320px){
    
}
@media screen and (min-width: 768px){
  .dash-wrap {margin: 1.6em .6em;}
  .dash-wrap i.content-key{display: none!important;}
  .workspace aside.dml > div{display: initial;position: initial;margin: initial;background-color: initial;border: none}
  .dash-content {border-top: initial}
  .dash-wrap .icon-wrap > a {position: absolute;top: -90%;left: 20%;}
  .dash-content .menu-nav li{display: table-cell;}
  .dash-content .list-panel .fold  {border-right: 1px solid var(--main-bg-color)}
  .dash-content .main > div.content{max-width: 480px}
  .dash-content #panel_img{max-width: initial}
  .dash-content #panel_img,.dash-content .main > .sidebar{margin: 0 .6em}
  .dash-content .main .sidebar img {max-width: 320px}
  .dash-content .list-panel,.dash-content .main > .content{float: left;}
  .dash-content #instance_list {max-height: 320px}
  .dash-content .main{border-top: none}
  .dash-content .text-pane{padding: 0 .6em}
  
  .dash-content .input-form{display: table-caption;width: 100%}
  .dash-content .panel_instance_section > span{width: inherit;display:block;border: none}
  
  .panel_instance_section ul.form-input li:last-child {text-align: initial;}
  .workspace .button_1.next,.workspace .button_1.done{float: right}
  .panel_instance_section ul.form-input li:last-child .message {margin: 0 auto}
  
  .dash-content > .footer div {display: inline-block;}
  .dash-content > .footer div.r,.dash-content .main > .sidebar{float: right;}
  .dash-content > .footer .sidebar{width: 320px;display: inline-block;}
  .dash-content #panel_crop_space #crop_space {max-width: 480px;}
}
@media screen and (min-width: 1022px){
    .dash-content .main > div.content {max-width: 566px;}
    #panel_quest_tex{max-width: 360px;overflow: auto}
}
@media screen and (min-width: 1268px){
    .dash-content > .footer {display: table-row;}
    .dash-content .list-panel{display:table-cell}
}