section.main { background: url(../../img/background/05.png) fixed;}
#home_page section.main {background-image: url(../../img/background/bg-paper-01.png);}
#showcase {text-align: center;color: var(--yin);}
#showcase h1 {font-size: 36px;font-family: usprayed,comicsans, Calibri;text-shadow: 0 3px 3px rgba(20,20,20,.4);font-weight: 100;color: var(--dark-color);}

#home_acc_sec {padding: 15px 0;color: var(--yin);background: #26262664;bottom: 0;position: absolute;width: 100%;}
#home_acc_sec > .container{overflow: visible;width: 80%;text-align: center;}
#home_acc_sec form .spacer{min-width: 86px;min-height: 37px;display: inline-block;text-align: center;width: 100%}
#acc_err {color: var(--yin);width: 100%;position: absolute;top: 0;text-align: center;}
#acc_err b{padding: 0 .6em;background-color: var(--dark-color)}
a#accswitch {text-decoration: none;color: var(--darker-color);font-size: 24px;font-weight: 700;border: none;transition-duration: 1.6s;text-shadow: 1px 0 1px rgba(0,0,0,.9);transition-property: all;transition-delay: .1s;font-family: comicsans;}
a#accswitch:hover{color:var(--yin)}
.focus-right {text-align: center;margin: 0;padding: 0;margin-left: 1em;}
.focus-right i {font-size: 28px;text-shadow: 0 1px 1px var(--yang);}
span#signup_vss{width:95px;vertical-align:middle}
span#signup_vss i.fa{font-size:28px;}
#acc_err label{background-color:#0007;opacity:0;transition:opacity 1s ;color:#fff;padding: 0 .6em}

.acc-intro-cmpnt {display: inline-block;margin: 0 .2em;width: 100%}

.desc-wrap .container {margin: 0 auto;padding: 1em 0;float: none;width: 100%}

.desc-wrap .container .dark {padding: 15px;background: var(--main-fg-color);color: var(--main-bg-color);}
.desc-wrap .container ul li:nth-child(2n+1) {background-color: #e4e4e4;}
.desc-wrap .container ul li:nth-child(2n) {background-color: #efefef;}
.desc-wrap .container ul li {padding: 0 10px;border: var(--light-color) solid 1px;margin-bottom: 5px;text-align: left;background: url(../../img/background/06.png) fixed;background-color: rgba(0, 0, 0, 0);}
.desc-wrap .container ul li:after{content: "";display: table; clear:both}
.desc-wrap .container ul li:hover{background: #f6f6f6 url(../../img/background/05.png) fixed}
.desc-wrap .container h3 {margin: .4em 0;}
.desc-wrap .container p {margin: 1em 0;line-height: 1.4em;font-size: 11pt;}

.desc-wrap .container table {border-spacing: 0;border-collapse: collapse;}
.img-right {float: right;margin: 0 0 1em 1em;}
.desc-wrap .container table tr:nth-child(2n+1) { background-color: #aaa;}
.desc-wrap .container table tr:nth-child(2n) {background-color: #b9b9b9;}
.desc-wrap .container table tr:hover{background-color: #ccc}
.desc-wrap .container table th {padding-top: 4px;padding-bottom: 4px;text-align: left;background-color: var(--main-bg-color);color: var(--yang); border-top: 1px dotted var(--yang);font-weight: 100;border-left-width: 0;border-right-width: 0;}
.desc-wrap .container td, th {padding: 0em .5em;text-align: left;}
.desc-wrap .container h4{float: left;width: 0.7em;font-size: 400%;line-height: 75%;position: relative;top: 2px;}
.desc-wrap .container a{color: var(--yang)}

.desc-wrap .container table td, .desc-wrap .container th {border: 1px solid #ddd;padding: 8px;cursor: default;}

aside.banner div.screen div {text-align: center;color: var(--yang);font-family: comicsans, Calibri;}
aside.banner div#brand {font-weight: 100;font-size: 46px;font-family: mostwasted;}
#desc_wrap aside > img {background: var(--yin) url(../../img/background/05-16.png) fixed;width: 99%;border: 2px solid var(--light-color);}
#team_article  p  img{max-height: 128px}

#team_article ul li:nth-child(2n+1) img{float: left;margin: 0 1em 0 0;}
#team_article ul li:nth-child(2n) img,#team_article > p > img{float: right;margin: 0 0 0 1em ;}
#team_article h2 {margin: .6em 0;}

#tnc_article h5 {text-align: center;margin-bottom: 2em;font-size: 10pt;color: var(--yang);}
#tnc_article ol {padding: 0 0 0 1em;}
#tnc_article p { font-size: 10pt;}
#tnc_article ol li ol {font-size: 10pt;padding-bottom: 1em;margin-left: 1em;}
#tnc_article ol li ol li { margin-bottom: .6em;}
#tnc_article h6{margin-bottom: 1em;font-size: 10pt;color: var(--yang);font-weight: 100;background-color: #0002;padding: 1em;}

@media screen and (min-width: 768px){
	#showcase h1{font-size: 85px}
	#home_acc_sec > .container{text-align: initial;}
	#home_acc_sec .std{float: right;}
	.acc-intro-cmpnt{width: initial;}
	#home_acc_sec form .spacer{width: initial;}
	#acc_err{bottom: 0;top: initial;}

	.desc-wrap .container table{float: right;margin: 0 0 1em 1em;}
}
