.help-page div#workspace { padding: 1.6em 0; }
.help-page h1 {font-size: 27px;}
.help-page div#workspace ul {padding-left: 1em;font-size: 12px;list-style: square;}
.help-page div#workspace form {margin-bottom: .9em;display: inline-block;position: relative;width: 100%;text-align: center;}
.help-page div#workspace input[type="email"], .help-page div#workspace input[type="text"] {background-color: var(--yin);margin-bottom: 10px}
.help-page div#workspace .vss{margin: 0 .8em}

.help-page div.screen { background-color: #fff; box-shadow: 0 2px 14px 0 #fff;}
.help-page div.screen img{width: 100%}

.help-page #panel_faq_empty{margin: 1.6em auto;line-height: 22px}
.help-page #panel_faq_empty > div{background-color: var(--main-bg-color);padding: .6em}
.help-page #panel_faq_empty > div h1{color: var(--super-lite-color);margin-bottom: .6em }
.help-page #panel_faq_empty > div p{color: var(--dark-color)}

#manual_article{}
#manual_article img{width: 100%}

p.err {color: #a00;margin-top: 1.6em;}
p.process-desc {font-size: 14px;line-height: 20px;margin: .9em 0;}
p.heads-up {font-size: 12px;color: var(--yang);}

@media screen and (min-width: 768px){
	.help-page div#workspace form{text-align: initial;width: initial;}
	.help-page div#workspace input[type="email"], .help-page div#workspace input[type="text"] {margin-bottom: initial;}
}