.profile-wrap .page-container {display: inline-block;margin: 20px auto;}
.profile-wrap .page-container > div {float: none;margin: 0 auto;}

.profile-dash .nav{margin: .6em auto 1em auto;background-color: var(--yin);max-width: 90%}
.profile-dash .div-avatar{min-height: 65px;max-height: 290px;max-width: 295px;background-color: var(--light-color);margin: 0 auto;position: relative;}
.profile-dash .div-avatar > div{position: absolute;width: 100%;top: 0;background-color: #fff6;z-index: 1}
.profile-dash .div-avatar button {width: 48px;height: 48px;background-color: transparent;border: 0;cursor: pointer;}
.profile-dash .div-avatar button  i {font-size: 32px;color: #b00;}

.profile-dash .div-avatar button:hover{background-color: #0004}
.profile-dash .div-avatar button:hover i{color: #fff}
.profile-dash .div-avatar img{opacity: .6;width: 100%}

.profile-dash > .nav ul {list-style: none;line-height: 20px;font-size: 14px;}
.profile-dash > .nav ul li {padding: 5px 10px;border-bottom: 2px solid var(--light-color);}
.profile-dash .div-HUD {background-color: var(--yin);border-bottom: 2px solid var(--light-color);max-width: 295px;margin: 0 auto}
.profile-dash .div-HUD > div {display: inline-block;max-width: 180px;max-height: 45px;}
.profile-dash .div-HUD > div.user-online{width: 180px}
.profile-dash .div-HUD img {background-color: #fff;border-radius: 50%;padding: 5px;}
.profile-dash .div-HUD #browse_avatar{position: absolute;width: 100%;height: 100%;cursor: pointer;z-index: 1;opacity: 0}

.user-online > span {display: block;overflow: hidden;}
.div-HUD #uname_online{font-size: 14pt;font-weight: 700;}
.div-HUD #umail_online{font-size: 9pt;margin: 0 .6em 0 0}
.div-HUD > div > .grouping {width: 100px;height: 100px;margin: -60px 0 0 8px;position: relative}
.profile-dash .div-HUD .grouping i{position: absolute;color: #f00;font-size: 32px;cursor: pointer;z-index: 2}
.profile-dash .div-HUD .grouping i:hover{color: #fff}

.profile-wrap .input-form{position: relative;}
.profile-wrap form.none-form{padding: 0 0 10px}
.profile-wrap #btnback_form{margin-top: -.6em}
.profile-wrap #admin_flag{margin-top: .6em;border-radius: 4px;background-color: var(--special-color);padding: 3px;border-width: 2px}
.profile-wrap #group_default table{width: 100%}
.profile-wrap #group_default table tr:nth-child(2){margin-bottom: 2px}
.profile-wrap ul.breadcrumb{padding: 2px 4px;background-color: var(--main-bg-color);margin-bottom: 6px}
.profile-wrap #group_content_msg{color: var(--main-fg-color);font-weight: 100;width: 100%;text-align: center;padding: 5px 0}
.profile-wrap li.active {font-weight: 700;color:var(--yang);font-size: 16px;}
.profile-wrap ul.form-input li.list{max-height: 120px}
.profile-wrap li table{width: 100%;text-align: left;}
.profile-wrap li > a > #uid {font-style: italic;color: var(--light-color);text-align: right;font-weight: 100;padding-left: .63em;font-size: 13px;}
.profile-wrap li > a > span.float-right .fa{font-size: 22px}
.profile-wrap li > a > span.float-right i{font-size: 28px;text-shadow: 0 1px 1px var(--yang);}

.pass-strength {padding: 0 1.3em;font-weight: 100;}
.pass-strength span {font-size: 11px;color: var(--main-fg-color);}
.pass-strength span li {padding: 0;margin: 0;border: 0;min-width: 120px}
.pass-strength span li:last-child{text-align: initial}
.pass-strength span li.check{color: var(--yang);font-weight: 700}
.pass-strength span li.done{font-weight: 100;color: var(--yang)}

@media screen and (min-width: 768px){
	.profile-wrap .page-container > div{float: left;max-width: initial}
	.profile-wrap .page-container .profile-dash {margin-right: 5px;}
	.profile-dash .nav{margin:.6em initial 0 initial;max-width: initial}
        .profile-wrap #admin_flag{margin-right: -25px}
	.profile-dash .div-avatar,.profile-dash .div-HUD{margin: 0}
	.profile-wrap .input-form{border:4px solid var(--yin)}
	.profile-wrap .success-tick {right: -5%;  left: initial;}
}
