:root {
  --space: 1.5em;
  --space-lg: 2em;
  /*color pallete*/
  --bg-color: hsl(150, 45%, 50%);
  --yin:#fff;
  --yang:#000;
  --main-bg-color:#d5d5d5;
  --main-fg-color:#737373;
  --dark-color:#444;
  --darker-color:#262626;
  --light-color:#b1b1b1;
  --lighter-color:#efefef;
  --super-lite-color:#f7f7f7;
  --special-color:#97a;
  --alpha-dim-color:#4441;
  --xciii-color:#008c8c
}
